body {
    background-color: #121212;
    color: #e0e0e0; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: #ffffff; 
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #333;
    color: #ffffff;
    padding: 12px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 2px solid #555;
}

td {
    background-color: #1e1e1e;
    padding: 12px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #444;
}


tbody tr {
    transition: background-color 0.3s ease;
}

td, th {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

